.yellowIllustrationCateringL {
  position: absolute;
  top: 507px;
  left: 330px;
  width: 24px;
  height: 18px;
  object-fit: cover;
}
.navigationBarIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 165px;
}
.blocktradeLogo61 {
  position: absolute;
  top: 21px;
  left: 1261.05px;
  width: 161px;
  height: 124px;
  object-fit: cover;
}
.groupChild {
  position: absolute;
  top: 159px;
  left: 0.05px;
  background-color: var(--color-gainsboro-200);
  width: 405px;
  height: 865px;
}
.groupInner,
.groupItem {
  position: absolute;
  top: 0;
  left: 0.05px;
  width: 1440px;
  height: 165px;
}
.groupInner {
  top: 158.91px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441.1px;
  height: 1px;
}
.ellipseIcon,
.rectangleDiv {
  position: absolute;
  top: 50px;
  left: 1358.05px;
  width: 15px;
  height: 15px;
}
.rectangleDiv {
  top: 198px;
  left: 21.05px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 363px;
  height: 59px;
}
.searchOrType {
  position: absolute;
  top: 217px;
  left: 46.05px;
  color: var(--color-gray-200);
  text-align: center;
  display: inline-block;
  width: 313px;
  height: 33px;
}
.yellowIllustrationCateringL1 {
  position: absolute;
  top: 27px;
  left: 42.05px;
  border-radius: var(--br-3xs);
  width: 126px;
  height: 102px;
  object-fit: cover;
}
.grep {
  margin: 0;
}
.grepELicensing,
.homeActsContainer {
  position: absolute;
  display: inline-block;
}
.grepELicensing {
  top: 49px;
  left: 178.05px;
  font-size: var(--font-size-16xl);
  width: 286.66px;
  height: 30px;
}
.homeActsContainer {
  top: 305px;
  left: 44.05px;
  width: 315px;
  height: 616px;
}
.yellowIllustrationCateringL2 {
  position: absolute;
  top: 409px;
  left: 330.05px;
  width: 24px;
  height: 18px;
  object-fit: cover;
}
.applications {
  position: absolute;
  top: 236px;
  left: 465.05px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 378px;
  height: 91px;
}
.groupChild1,
.groupChild2,
.groupChild3,
.groupChild4 {
  position: absolute;
  top: 328px;
  left: 467.05px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-200);
  width: 794px;
  height: 779px;
}
.groupChild2,
.groupChild3,
.groupChild4 {
  top: 887px;
  left: 497.05px;
  background-color: var(--color-white);
  width: 712px;
  height: 84px;
}
.groupChild3,
.groupChild4 {
  top: 783px;
}
.groupChild4 {
  top: 569px;
}
.rectangleIcon {
  position: absolute;
  top: 594px;
  left: 1117.05px;
  border-radius: var(--br-xl);
  width: 49px;
  height: 33px;
}
.groupChild5,
.groupChild6 {
  position: absolute;
  top: 676px;
  left: 497.05px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 712px;
  height: 84px;
}
.groupChild6 {
  top: 465px;
}
.app1,
.app2,
.app3 {
  position: absolute;
  top: 497px;
  left: 639.05px;
  display: inline-block;
  width: 449px;
  height: 52px;
}
.app2,
.app3 {
  top: 601px;
  left: 640.05px;
  width: 521px;
}
.app3 {
  top: 708px;
  left: 639.05px;
  width: 449px;
}
.groupChild7 {
  position: absolute;
  top: 361px;
  left: 497.05px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkcyan-200);
  width: 712px;
  height: 84px;
}
.nameStatus {
  position: absolute;
  top: 390px;
  left: 639.05px;
  display: inline-block;
  width: 449px;
  height: 52px;
}
.groupChild8 {
  position: absolute;
  top: 994px;
  left: 497.05px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 712px;
  height: 84px;
}
.lineDiv {
  position: absolute;
  top: 360.5px;
  left: 852.55px;
  border-right: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1px;
  height: 676px;
}
.groupChild10,
.groupChild9 {
  position: absolute;
  top: 492px;
  left: 1117.05px;
  border-radius: var(--br-xl);
  width: 49px;
  height: 33px;
}
.groupChild10 {
  top: 702px;
}
.download1Icon,
.download2Icon,
.download3Icon {
  position: absolute;
  top: 498px;
  left: 1126.05px;
  width: 31px;
  height: 22px;
  object-fit: cover;
}
.download2Icon,
.download3Icon {
  top: 600px;
}
.download3Icon {
  top: 708px;
}
.groupChild11 {
  position: absolute;
  top: 228px;
  left: 959.05px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkcyan-100);
  width: 257px;
  height: 51px;
}
.reviewers {
  position: absolute;
  top: 236px;
  left: 1021.05px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  display: inline-block;
  width: 239px;
  height: 47px;
}
.navigationBarParent {
  position: absolute;
  top: 0;
  left: -0.05px;
  width: 1440.1px;
  height: 1107px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-josefin-sans);
}
.reviewersApplicationPopUpChild,
.reviewersApplicationPopUpItem {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.reviewersApplicationPopUpChild {
  top: 356px;
  left: 362px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 661px;
  height: 364px;
}
.reviewersApplicationPopUpItem {
  top: 292px;
  left: 253px;
  box-shadow: 0 4px 0#000;
  width: 915px;
  height: 660px;
}
.x {
  position: absolute;
  top: 332px;
  left: 1097px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 58px;
  height: 47px;
  text-shadow: 0 4px 0#000;
  cursor: pointer;
}
.readmissionApplicationForm1Icon {
  position: absolute;
  top: 374px;
  left: 319px;
  width: 452px;
  height: 482px;
  object-fit: cover;
}
.acceptButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-15xl);
  background-color: var(--color-darkcyan-100);
  width: 157px;
  height: 36.95px;
}
.accept {
  position: absolute;
  top: 5px;
  left: 27px;
  display: inline-block;
  width: 140px;
  height: 34px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}
.acceptButton {
  position: absolute;
  top: 858px;
  left: 983px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
  width: 167px;
  height: 39px;
  cursor: pointer;
  color: var(--color-white);
}
.acceptButtonItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-15xl);
  background-color: rgba(74, 148, 134, 0.65);
  width: 157px;
  height: 36.95px;
}
.reject {
  position: absolute;
  top: 5px;
  left: 31px;
  display: inline-block;
  width: 140px;
  height: 34px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}
.acceptButton1 {
  position: absolute;
  top: 858px;
  left: 815px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
  width: 171px;
  height: 39px;
  color: var(--color-white);
}
.reviewersApplicationPopUpInner {
  position: absolute;
  top: 529px;
  left: 827px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 299px;
  height: 277px;
}
.feedback,
.typeFeedback {
  position: absolute;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.typeFeedback {
  top: 555px;
  left: 841px;
  color: var(--color-gray-200);
  width: 200px;
  height: 46px;
}
.feedback {
  top: 498px;
  left: 911px;
  width: 196px;
  height: 64px;
}
.reviewersApplicationPopUp {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
