@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-josefin-sans: "Josefin Sans";
  --font-inter: Inter;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-16xl: 35px;
  --font-size-46xl: 65px;
  --font-size-9xl: 28px;
  --font-size-17xl: 36px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: #cbddd1;
  --color-black: #000;
  --color-darkcyan-100: #4a9486;
  --color-darkcyan-200: rgba(74, 148, 134, 0.56);
  --color-tan: #c9ba84;
  --color-rosybrown: #ab826a;
  --color-whitesmoke-100: #f2eaea;
  --color-whitesmoke-200: rgba(246, 248, 248, 0.56);
  --color-red: #f60909;
  --color-gray-100: #fcfcfc;
  --color-gray-200: #827a7a;
  --color-gray-300: #101010;
  --color-darkgray: #a8a6a6;
  --color-lightgreen: #92e185;

  /* Paddings */
  --padding-6xl-1: 25.1px;

  /* border radiuses */
  --br-11xl: 30px;
  --br-6xl: 25px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-2xs-1: 10.1px;
  --br-5xl: 24px;
  --br-15xl: 34px;
}
